*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #009688;
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
    height: 100vh;
}



.container{
    display: flex;
    margin-top: 40px;
}

/* SIDEBAR SECTION */
.sidebar{
    width: 400px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 0.5px solid rgb(201, 201, 201);
}

/* TOP SIDEBAR SECTION  */
.top-side{
    width: 100%;
    background-color: #F0F2F5;
    justify-content: space-between;
    flex-direction: column;
}

.pointer{
    cursor: pointer;
}


.user_img{
    width: 25%;
    border-radius: 50%;
    cursor: pointer;
}

#user_icons{
    padding-top: 15px;
}

#notifiche{
    background-color: rgb(63, 183, 253);
}

.bell{
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
}

.circle{
    background-color: white;
    border-radius: 50%;
    padding: 10px;

}

#text_notifiche{
    margin-top: 5px;
    margin-left: 10px;
}

#sub_text_notifiche{
    font-size: 15px;
    cursor: pointer;
    color: grey;
    text-decoration: underline;
}


/* END TOP SIDEBAR */

/* MIDDLE SIDEBAR */

.middle-side{
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
}
  
.search-button {
    border: none;
    color: #494949;
    padding: 10px;
    cursor: pointer;
    background-color: white;
}

/* END MIDDLE SIDEBAR */



/* BOTTOM SIDEBAR */

.bottom-side{
    height: 75%;
    width: 100%;
    overflow-y: auto;
}

.contact{
    display: flex;
    align-content: center;
    cursor: pointer;
}

.contact-photo{
    width: 25%;
}

.data_contact{
    width: 75%;
}
.contact_img{
    width: 55%;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.contact:hover {
    background-color: rgb(245, 245, 245);
  }


.status{
    font-size: 15px;
    color: lightgray;
}

.time_contact{
    color: lightgray;
    font-size: 12px;
}

.text_contact_chat{
    cursor: pointer;
}





/* MAIN CONTENT SECTION */


.main-content{
    width: calc(100% - 400px);
    height: 90vh;
}


.top-main, .bottom-main{
    width: 100%;
    background-color: #F0F2F5;
    height: 75px;
}

.middle-main{
    height: calc(100% - 150px);
    width: 100%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;

}

/* top - bottom main content */


.contact_chat_img{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.contact_icons{
    padding-top: 15px;
}

.search-bar-message {
    display: flex;
    align-items: center;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.search-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.content_bar{
    cursor: pointer;
}

.active{
    border: 1px solid red;
}


/* middle main content */

.inviato, .ricevuto{
    padding: 15px;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    width: 40%;
    margin-bottom: 10px;


}

.inviato{
    background-color: lightgreen;
    align-self: end;
}

.ricevuto{
    background-color: white;
    align-self: flex-start;
    
}

.message_time{
    color: grey;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    right: 10px
}


.hidden{
    display: none;
}