<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzap</title>
</head>
<body>

    <div id="app">

        <div class="container">

            <!-- SIDEBAR SECTION -->

            <div class="sidebar">
                <!-- top sidebar user functions -->
                <div class="top-side">
                    <div id="user" class="p-2">
                        <div class="row">
                            <div class="col">

                                <!-- photo name user -->
                                <div id="user" class="p-2">
                                    <img src="./img/avatar_io.jpg" class="user_img" alt="">
                                    <span>Sofia</span>
                                </div>

                            </div>
                            <div class="col">
                                <!-- user icons -->
                                <div id="user_icons" class="d-flex align-items-end justify-content-end">
                                    <span class="mx-2 pointer">
                                        <i class="fa-solid fa-circle-notch"></i>
                                    </span>
                                    <span class="mx-2 pointer">
                                        <i class="fa-solid fa-message"></i>
                                    </span>
                                    <span class="mx-2 pointer">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </span>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- top sidebar notifies -->
                    <div id="notifiche" class="d-flex p-2">
                        <!-- bell -->
                        <div class="bell">
                            <span class="circle">
                                <i class="fa-regular fa-bell-slash fa-xl" style="color: rgb(63, 183, 253);"></i>
                            </span>
                        </div>
                        <div>
                            <!-- bell text -->
                            <div id="text_notifiche">
                                <div>Ricevi notifiche di nuovi messaggi</div>
                                <div id="sub_text_notifiche">Attiva notifiche desktop</div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- MIDDLE SIDEBAR - SEARCHBAR CONTACTS -->
                <div class="middle-side p-1 d-flex">
                    <div class="search-bar">
                        <button class="search-button">
                            <i class="fa fa-search "></i>
                        </button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchText" @input="findContact()" class="search-input">
                    </div>
                </div>

                <!-- bottom side - contacts -->
                <div class="bottom-side">

                    <!-- 1. ho creato un ciclo for per ciclare gli elementi dell'array  -->
                    <!-- 6. ho aggiunto il click per cambiare la chat del personaggio -->
                    <div  class="contact p-2" v-for="(contact, index) in contacts" @click="changeChat(index)" :class="contact.visible ? '' : 'hidden'">
                        <div class="contact-photo">
                            <!-- 2. Ho assegnato questa funzione per far ciclare le immagini degli avatar -->
                            <img :src="contact.avatar" class="contact_img" alt="">
                        </div>
                        <div class="data_contact">
                            <!-- 3. Ho richiamato tramite l'indice contact il name del'array -->
                            <div class="name_contact">{{contact.name}}</div>
                            <div class="status">Ultimo messaggio inviato</div>
                        </div>
                        <div class="time_contact">12.00</div>
                    </div>
                        
                </div>
            </div>

            <!-- END SIDEBAR SECTION -->

            <div class="main-content">
                <div class="top-main p-1">
                    <div class="contact_chat" class="p-2">
                        <div class="row">
                            <div class="col-8">
                                <div class="content">

                                    <div class="photo_contact_chat p-2 d-flex">

                                        <!-- 4. Ho richiamato l'intero ciclo per visualizzare l'immagine dell'avatar -->
                                        <img :src="contacts[active_avatar].avatar" class="contact_chat_img" alt="">
                                        <div class="text_contact_chat">

                                            <!-- 5. ho richiamato l'intero ciclo per visualizzare il nome -->
                                            <div class="name_contact">{{contacts[active_avatar].name}}</div>
                                            <div class="status">Ultimo accesso oggi alle 12.00</div>
    
                                        </div>
    
                                    </div>
                                </div>

                                <!-- photo contact chat -->

                            </div>
                            <div class="col">
                                <!-- contact icons chat-->
                                <div class="contact_icons d-flex align-items-end justify-content-end">
                                    <span class="mx-2 pointer">
                                        <i class="fa-solid fa-circle-notch"></i>
                                    </span>
                                    <span class="mx-2 pointer">
                                        <i class="fa-solid fa-message"></i>
                                    </span>
                                    <span class="mx-2 pointer">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- TYPE BAR SEND MESSAGE -->
                <div class="middle-main d-flex flex-column p-4">
                    <div v-for="(message, index) in contacts[active_avatar].messages" :class="contacts[active_avatar].messages[index].status === 'sent' ? 'inviato' : 'ricevuto'" class="message-container mx-5 d-flex">
                        <div>
                            <div class="message_text">{{ message.message }}</div>
                            <div class="message_time ">{{ message.date }}</div> 
                        </div>
                    </div>
                </div>
                    
                <div class="bottom-main pt-3 d-flex justify-content-around align-items-center">
                    <div class="content_bar">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>


                    <div class="search-bar-message">
                        <input type="text" placeholder="Scrivi un messaggio" class="search-input" v-model="new_messages" @keyup.enter="addMessage(active_avatar)">
                        <button class="btn btn-sm" @click="addMessage(active_avatar)">
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>



                    <div class="content_bar">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>

</body>
</html>